:root {
  --errorColor: #f00e0e;
  --validColor: #0aad0a;
}

.modal {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.close-btn {
  display: block;
  position: fixed;
  z-index: 2;
  margin: 0.3rem;
}

.modal-content {
  background: #f4f4f4;
  margin: 10% auto;
  max-width: 900px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 3px;
  /* height: 420px; */
  height: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.modal-content-left {
  /* width: 100%; */
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  align-items: center;
  height: 380px;
}

.modal-content-left img {
  width: 650px;
}

.modal-content-right {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  padding: 1rem 1rem 17px 1rem;
  margin: 0 auto;
  height: 80%;
}

.modal-input-btn {
  text-decoration: none;
  background-color: #fe5b2d;
  padding: 0.5rem;
  border-radius: 0.8rem;
  color: #ffff;
  font-size: 0.8rem;
  border: 2px #000000;
  text-align: center;
  justify-content: center;
  /* margin: 1rem auto; */
}

.modal-form a {
  color: #17375e;
  list-style: none;
  text-decoration: none;
}
