/* Based on meyerweb.com/eric/tools/css/reset (v2.0 | 20110126 | License: public domain) */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url("images/dot-grid.png");
  color: #777;
  font-family: "Ariel", sans-serif;
  font-size: 16pt;
  font-weight: 300;
  line-height: 1.65em;
  letter-spacing: -0.015em;
}

/* Header Logo*/
#header {
  background: #17375e;
  color: #ffff;
  cursor: default;
  height: 4.5em;
  left: 0;
  line-height: 3.25em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.logo img {
  background-position: left center;
  background-size: auto 100%;
  margin-top: 9px;
  left: 1.25em;
  line-height: 0;
  margin-left: 2.5;
  padding: 0;
  position: absolute;
  top: 0;
}

/* Navigation */
.navbar {
  margin-left: 25%;
  margin-right: 25%;
  box-sizing: border-box;
}

#header nav {
  margin-top: 0.8em;
  height: inherit;
  line-height: inherit;
  position: absolute;
  right: 0.75em;
  top: 0;
  vertical-align: middle;
}

#header nav > ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

#header nav > ul > li {
  display: inline-block;
  padding-left: 0;
}

#header nav > ul > li > ul {
  display: none;
}

#header nav > ul > li a {
  color: #ffff;
  text-decoration: none;
  display: inline-block;
  height: 2em;
  line-height: 1.95em;
  padding: 0 1em;
  border-radius: 6px;
}

#header nav > ul > li a:hover {
  color: rgb(195, 195, 195);
}

.burger {
  font-size: 2.5rem;
  margin-right: 10%;
  display: none;
}

/* Banner */
#banner-heading {
  background-attachment: scroll, fixed;
  background-color: #666;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/crane-3038640-1024x683-1.webp");
  background-position: top left, center center;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  color: #fff;
  padding: 18em 0 20em 0;
  text-align: center;
  text-shadow: 0.1px 0.1px black;
}

#banner-heading h2 {
  font-size: 4em;
  line-height: 1em;
  margin: 0 0 0.5em 0;
  padding: 0;
}

#banner-heading p {
  font-size: 1.8em;
  margin-bottom: 1.75em;
}

#banner-heading a {
  text-decoration: none;
  background-color: #fe5b2d;
  padding: 1rem;
  border-radius: 0.8rem;
  color: #ffff;
  font-size: 1.2rem;
  border: 2px #000000;
}

#banner-heading a:hover {
  background-color: rgb(180, 47, 10);
}

/* Main */
body #main {
  margin-top: -9em;
}

.container {
  margin: 0 auto;
  max-width: calc(100% - 5em);
  width: 95rem;
  border-radius: 0.5rem;
}

/* About Section*/
.box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px 2px #e5e5e5;
  margin: 3em 0 5em 0;
  padding: 4em;
}

#about {
  box-shadow: 0 3px 3px 0.8px #e5e5e5;
}

.box.special h2 {
  text-align: center;
  font-size: 2.25em;
  line-height: 1.5em;
  letter-spacing: -0.035em;
  font-weight: 300;
}

.box.special h3 {
  font-size: 1.75em;
  line-height: 1.5em;
  letter-spacing: -0.025em;
}

/* places the three columns under about */
.box-content {
  display: grid;
  justify-self: center;
  text-align: center;
  grid-template-areas: "box-left box-middle box-right";
}

/* Features */
#features img {
  width: 500px;
  height: 200px;
}

#features {
  /* position: relative;
  z-index: 3; */
}

.features-row {
  margin-top: 3rem;
  display: grid;
  justify-self: center;
  text-align: center;
  grid-template-areas:
    "top-left top-right"
    "bottom-left bottom-right";
}

.features-row img {
  margin: 2rem 2rem;
  box-shadow: 0 5px 3px 1px #5d5a5a;
  border-radius: 5px;
}

.top-left {
  box-shadow: 3px 3px rgb(190, 187, 187);
  padding: 15px;
}

.top-right {
  box-shadow: 0 3px rgb(190, 187, 187);
  padding: 15px;
}

.bottom-left {
  box-shadow: 3px 0 rgb(190, 187, 187);
  padding: 15px;
}

.bottom-right {
  padding: 15px;
}

/* Resources */
#banner {
  background-color: #666;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/victoria-kure-wu-583580-unsplash-1-1024x768\ \(1\).jpg");
  color: #fff;
  padding: 5em 0 7em 0;
  text-align: center;
  text-shadow: 0.1px 0.1px black;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 1px 3px 4px 4px #686868;
}

#banner h2 {
  font-size: 2em;
  line-height: 0.5em;
  margin: 0 0 0.5em 0;
  padding: 0;
}

#banner p {
  font-size: 0.9em;
  margin-bottom: 0.8em;
}

#banner a {
  text-decoration: none;
  background-color: #fe5b2d;
  padding: 1rem;
  border-radius: 0.8rem;
  color: #ffff;
  font-size: 1rem;
  border: 2px #000000;
}

/* Contact us */
#contact {
  display: grid;
  border-radius: 10px;
  box-shadow: 0 3px 10px 2px #e5e5e5;
  margin: 3.8em 0 5em 0;
  padding: 0;
  height: 45rem;
}

#contact header {
  color: #fff;
  background: linear-gradient(rgba(18, 55, 97, 0.75), rgba(18, 55, 97, 0.75)),
    url("images/istock_crop-1024x683\ \(1\).jpg");
  background-position: 70% 30%;
  background-size: cover;
  width: 100%;
  border-radius: 10px 10px 0 0;
  padding: 5px 0 8px 0;
  text-align: center;
}

.outer-box-contact {
  margin: 3rem 0 8rem 0;
  display: grid;
  justify-self: center;
  text-align: center;
  grid-template-areas: "left-box right-box";
  width: 80%;
}

.left-box {
  margin: 60px 10px 10px 18px;
  width: 80%;
  padding: 10px 66px 0 20px;
  box-shadow: 3px 0 0 0 #e5e5e5;
}

.left-box textarea {
  width: 95%;
  border-radius: 5px;
  border-color: #e5e5e5;
  background-color: #f6f6f6;
  padding: 0 0 63px 0;
}

.contact-us-header {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.left-box input {
  width: 90%;
  border-radius: 5px;
  border-color: #e5e5e5;
  background-color: #f6f6f6;
  padding: 10px;
  margin: 10px 0 4px 0;
}
.left-box .send {
  text-decoration: none;
  background-color: #fe5b2d;
  padding: 1rem;
  border-radius: 0.8rem;
  color: #ffff;
  font-size: 1.2rem;
  border: 2px #000000;
}

.left-box .send:hover {
  background-color: rgb(180, 47, 10);
}

.right-box {
  margin: 147px 0px 0px 41px;
}

.right-box h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 4rem;
}

.right-box img {
  float: left;
  margin: 0 6% 0 30%;
}

.icon-description {
  float: left;
  margin: 1% 0 0 2%;
}

footer {
  display: flex;
  background: #383838;
  color: #ffff;
  width: 100%;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  line-height: 1.95em;
}

footer li {
  top: 50%;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 1.4em;
}

/* Resources Page */

#main-resources {
  margin: 0 auto;
  max-width: calc(100% - 5em);
  width: 95rem;
  border-radius: 0.5rem;
  margin-top: 14%;
  box-shadow: 0 10px 6px 3.5px #e5e5e5;
  background-color: #ffffff;
  height: auto;
}

#title h1 {
  font-size: 4em;
  text-align: center;
  padding: 20rem 5rem;
  color: #ffffff;
  background-color: #17375e;
  border-radius: 0.5rem 0.5rem 0 0;
}

.search-guides h2 {
  font-size: 3.9rem;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 7%;
  color: #fe5b2d;
}

.search-bar {
  display: flex;
  text-align: center;
  justify-content: center;
}

.search-guides label {
  margin: 10% 0 0 9%;
  position: relative;
  font-size: 2rem;
}

.search-bar input {
  width: 80%;
  text-decoration: none;
  text-align: center;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(175, 173, 173);
  font-size: 2rem;
}

.search-bar button {
  text-decoration: none;
  background-color: #fe5b2d;
  padding: 1rem;
  border-radius: 0.8rem;
  color: #ffff;
  font-size: 1.2rem;
  border: 2px #000000;
  margin-left: 5px;
}

.search-bar button:hover {
  background-color: rgb(180, 47, 10);
}

.guides-tutorials {
  display: grid;
  width: 95%;
  text-align: left;
  justify-content: center;
  grid-template-areas:
    "guide0 guide1 guide2 guide3"
    "guide4 guide5 guide6 guide7";
  margin-left: 8.5%;
  margin-top: 4rem;
  margin-bottom: 10%;
}
.guides-tutorials h1 {
  margin: 3rem 0 2rem 0;
  font-size: 2em;
  font-weight: 500;
  line-height: 3.5rem;
  padding-top: 0;
}

.guides-tutorials p {
  font-size: 1em;
  line-height: 3rem;
}

#guides {
  width: 80%;
}

.guide3 p {
  width: 79%;
}

.guide7 p {
  width: 78%;
}

.topic {
  width: 90%;
  margin: auto;
  line-height: 3rem;
  text-align: left;
}

.topic h1 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 5rem;
  color: #fe5b2d;
}

.topics h1 {
  font-size: 2em;
  text-align: left;
  margin-bottom: 2rem;
  color: #777;
}

.topics p {
  font-size: 1em;
  line-height: 3rem;
}

.topics {
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  grid-gap: 3rem;
  text-align: left;
  margin-left: 5%;
  margin-bottom: 10%;
}

.contact-support {
  padding-top: 10%;
  background-color: rgb(169, 203, 230);
  padding-top: auto 0;
  line-height: 6rem;
}

.contact-support h1 {
  margin-top: 10%;
  font-size: 4rem;
  width: 90%;
  margin: auto;
}

.contact-support p {
  font-size: 2.8rem;
  width: 90%;
  margin: auto;
}

.contact-support button {
  font-size: 3rem;
  width: auto;
  margin: auto;
  text-decoration: none;
  outline: none;
  background-color: #fe5b2d;
  padding: 1rem;
  border-radius: 0.8rem;
  color: #ffff;
  font-size: 1.2rem;
  text-shadow: 1px 1px #000000;
  border: 2px #000000;
  margin-left: 5%;
  margin-bottom: 8%;
}

.contact-support button:hover {
  background-color: rgb(180, 47, 10);
}

.icon {
  background-image: url("images/icons8-chat-48\ \(2\).png");
  background-repeat: no-repeat;
  float: right;
  position: fixed;

  bottom: 1%;
  right: 2%;
}

.icon img {
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 100%;
}

@media (max-width: 1425px) {
  #banner-heading h2 {
    font-size: 2.5em;
  }

  #banner-heading p {
    font-size: 1.3em;
    margin-bottom: 1.75em;
  }

  .box {
    padding: 1rem;
  }
  .box-content {
    display: grid;
    position: relative;
    justify-self: center;
    text-align: center;
    grid-template-areas:
      "box-left"
      "box-middle"
      "box-right";
    width: 80%;
    align-items: center;
    grid-gap: 2rem;
    margin: 0 auto;
  }

  .box .features-row {
    padding: 0;
  }
  .features-row {
    margin-top: 3rem;
    display: block;
    justify-self: center;
    text-align: center;
    grid-template-areas:
      "top-left"
      "top-right"
      "bottom-left"
      "bottom-right";
    margin: auto;
    width: 100%;
  }

  #features img {
    height: 70%;
    width: 55%;
    margin: 0 auto;
    display: flex;
  }

  .top-left {
    box-shadow: none;
    /* padding: 5px; */
  }

  .top-right {
    margin-top: 2rem;
    box-shadow: none;
    /* padding: 5px; */
  }

  .bottom-left {
    margin-top: 2rem;
    box-shadow: none;
    /* padding: 5px; */
  }

  .bottom-right {
    margin-top: 2rem;
    box-shadow: none;
    /* padding: 5px; */
  }

  #contact {
    height: auto;
  }
  #contact header {
    color: #fff;
    background: linear-gradient(rgba(18, 55, 97, 0.75), rgba(18, 55, 97, 0.75)),
      url("images/istock_crop-1024x683\ \(1\).jpg");
    background-position: 70% 30%;
    background-size: cover;
    width: 100%;
    border-radius: 10px 10px 0 0;
    padding: 5px 0 8px 0;
    text-align: center;
  }

  .left-box {
    margin: 0 auto;
    width: 85%;
    padding: 10px 66px 0 20px;
    margin-bottom: 0.5rem;
    box-shadow: none;
  }

  .left-box .send {
    width: auto;
  }

  .right-box {
    display: grid;
    padding: 0;
    margin-top: 1rem;
  }

  .right-box > hr {
    display: none;
  }
  .right-box img {
    float: none;
    margin: 0;
  }

  .icon-description {
    margin: 0 auto;
  }
}

@media (max-width: 1132px) {
  #banner {
    position: relative;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: initial;
    border-radius: 10px;
    box-shadow: 0 3px 0 2px #e5e5e5;
  }

  .outer-box-contact {
    display: grid;
    grid-template-areas:
      "left-box"
      "right-box";
    width: 100%;
  }
  .right-box {
    display: grid;
    padding: 0;
    margin: 0;
    margin-top: 3rem;
  }
}

@media (max-width: 780px) {
  .box-content {
    text-align: left;
  }

  .features-row {
    text-align: left;
  }
}

@media (max-width: 500px) {
  #contact header {
    color: #fff;
    background: linear-gradient(rgba(18, 55, 97, 0.75), rgba(18, 55, 97, 0.75)),
      url("images/istock_crop-1024x683\ \(1\).jpg");
    background-position: 70% 30%;
    background-size: cover;
    /* width: 100%; */
    border-radius: 10px 10px 0 0;
    padding: 0;
    text-align: center;
    font-size: 1rem;
    display: grid;
  }

  .right-box {
    margin-top: 2rem;
  }

  .right-box a {
    margin: 0 auto;
  }
  .box.special h3 {
    font-size: 1.5em;
    line-height: 1.5em;
    letter-spacing: -0.025em;
    font-weight: 500;
  }
  #features img {
    height: 100%;
    width: 100%;

    margin: 0 auto;
  }

  .main-nav {
    display: none;
  }

  .burger {
    display: inline-block;
  }

  .logo img {
    position: relative;
  }
}
